<h1>These are all our restaurants</h1>
<ul>
  <% @restaurants.each do |r| %>
  <li>
    <h2><%= link_to r.name, restaurant_path(r), class:'text-decoration-none' %></h2>
    <p><%= r.category   %></p>
    <p><%= r.address %></p>
    <p><%= r.phone_number %></p>
  </li>
  <% end %>
</ul>
